.mainbody{
    width: 100vw;
    height: 100vh;
    background: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 80px 260px;

    .cardmainbody{
        width: 100%;
        height: 100%;
        background: var(--white-color);
        border-radius: 12px;
        display: flex;
        gap: 10px;
        justify-content: space-between;


        .leftside{
            width: 45%;
            height: 100%;
            object-fit: fill;
            display: flex;
            align-items: center;
            justify-content: center;
            /* overflow: hidden; */


            .carouselbody{
                width: 100%;
                height: 100%;
                border-radius: 12px 0 0 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                .carouselimage{
                    width: 100%;
                    height: 100%;
                    /* border-radius: 12px 0 0 12px; */
                }
            }
        }
        
        .rightside{
            width: 65%;
            height: 100%;
        }
    }
}