.taptotopbtn{
    position: fixed;
    bottom: 10px;
    right: 5px;
    background-color: var(--green-color);
    padding: 10px;
    font-size: 35px;
    z-index: 99;
    color: var(--white-color);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
}
.taptotopbtn:active{
    background: var(--blue-color);
    color: var(--white-color);
}
